[submodule "Gestor-Inteligente-de-Documentos"]
	path = Gestor-Inteligente-de-Documentos
	url = https://github.com/Alexander2364/Gestor-Inteligente-de-Documentos.git
[submodule "Gestor-Inteligente-de-Documentos-Frontend"]
	path = Gestor-Inteligente-de-Documentos-Frontend
	url = https://github.com/lu2311/Gestor-Inteligente-de-Documentos-Frontend.git
